<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Vue-dischi</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="root">
            <header>
                <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_Green.png" alt="">
                <div class="select">
                    <select class="genre" name="">
                        <option v-for='genre in genres' value="">{{ genre }}</option>
                    </select>
                </div>
            </header>
            <div class="cds-container">
                <div class="cd-card" v-for='cd in discs'>
                    <div class="poster">
                        <img :src= "cd.poster" :alt="cd.title">
                    </div>
                    <h3 class="title">{{ cd.title }}</h3>
                    <span class="author">{{ cd.author }}</span>
                    <span class="year">{{ cd.year }}</span>
                </div>
            </div>
        </div>
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
